<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Site Imobiliário{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header class="header">
    <div class="logo-area">
        <h2>Diná Cury</h2>
        <p class="creci">CRECI XXXX</p>
    </div>

    <nav class="menu">
        <a href="/">Home</a>
        <a href="/visita">Visita</a>
        <a href="/admin">CRM</a>

        <a class="whatsapp-btn" href="https://wa.me/5511988798286" target="_blank">
            WhatsApp
        </a>
    </nav>
</header>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>