<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cury Imóveis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <h2>CURY IMÓVEIS</h2>

    <nav>
        <a href="/">Início</a>
        <a href="#imoveis">Imóveis</a>
        <a href="#sobre">Sobre</a>
        <a href="/login">Área Admin</a>
    </nav>
</header>

{% block conteudo %}
{% endblock %}

</body>
</html>